@media screen and (min-width: 640px) {
  html {
    font-size: $base_fontSize_640p !important;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: $base_fontSize_1440p !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: $base_fontSize_1920p !important;
  }
}

html {
}

p {
  margin: 0;
  word-wrap: break-word;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background: $commonColor_Gray6;
}

*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 10px;
  background: $commonColor_Gray5;
}

input {
  -webkit-appearance: none;
}

input::-webkit-input-placeholder {
  color: $commonColor_Gray1;
}

input::-moz-placeholder {
  color: $commonColor_Gray1;
}

input:-ms-input-placeholder {
  color: $commonColor_Gray1;
}
