// 提高可读性的变量及函数
$normalOpactiy: 1;
$hoverOpactiy: 0.95;
$activeOpactiy: 0.9;
@function getNormal($hex_color) {
  @return rgba($hex_color, $hoverOpactiy);
}
@function getHover($hex_color) {
  @return rgba($hex_color, $hoverOpactiy);
}
@function getActive($hex_color) {
  @return rgba($hex_color, $activeOpactiy);
}

// 主题颜色
$themeColor_Black: #333333;
$themeColor_Dark: #708090;
$themeColor_Blue: #4169e1;
$themeColor_GreenBlue: #008b8b;
$themeColor_Green: #228b22;
$themeColor_Purple: #9932cc;
$themeColor_Pink: #c71585;
$themeColor_Red: #b22222;
$themeColor_Orange: #d2691e;
$themeColor_Yellow: #daa520;
// 主题灰调
$commonGray1: #000000;
$commonGray2: #333333;
$commonGray3: #666666;
$commonGray4: #7d7d7d;
$commonGray5: #999999;
$commonGray6: #b7b7b7;
$commonGray7: #c7c7c7;
$commonGray8: #d3d3d3;
$commonGray9: #d8d8d8;
$commonGray10: #d9d9d9;
$commonGray11: #dddfe6;
$commonGray12: #e0e0e0;
$commonGray13: #eaeaeb;
$commonGray14: #f0f0f0;
$commonGray15: #f1f2f6;
$commonGray16: #f8f8f8;
$commonGray17: #fafafa;
$commonGray18: #ffffff;

// 给主题颜色赋予用途/含义
$buttonColor_Black: getNormal($themeColor_Black);
$buttonColor_Black_hover: getHover($themeColor_Black);
$buttonColor_Black_active: getActive($themeColor_Black);
$buttonColor_Red: getNormal($themeColor_Red);
$buttonColor_Red_hover: getHover($themeColor_Red);
$buttonColor_Red_active: getActive($themeColor_Red);
$buttonColor_Green: getNormal($themeColor_Green);
$buttonColor_Green_hover: getHover($themeColor_Green);
$buttonColor_Green_active: getActive($themeColor_Green);
$buttonColor_Blue: getNormal($themeColor_Blue);
$buttonColor_Blue_hover: getHover($themeColor_Blue);
$buttonColor_Blue_active: getActive($themeColor_Blue);
$buttonColor_GreenBlue: getNormal($themeColor_GreenBlue);
$buttonColor_GreenBlue_hover: getHover($themeColor_GreenBlue);
$buttonColor_GreenBlue_active: getActive($themeColor_GreenBlue);
$buttonColor_Purple: getNormal($themeColor_Purple);
$buttonColor_Purple_hover: getHover($themeColor_Purple);
$buttonColor_Purple_active: getActive($themeColor_Purple);
$buttonColor_Pink: getNormal($themeColor_Pink);
$buttonColor_Pink_hover: getHover($themeColor_Pink);
$buttonColor_Pink_active: getActive($themeColor_Pink);
$buttonColor_Dark: getNormal($themeColor_Dark);
$buttonColor_Dark_hover: getHover($themeColor_Dark);
$buttonColor_Dark_active: getActive($themeColor_Dark);
$buttonColor_Yellow: getNormal($themeColor_Yellow);
$buttonColor_Yellow_hover: getHover($themeColor_Yellow);
$buttonColor_Yellow_active: getActive($themeColor_Yellow);
$buttonColor_Orange: getNormal($themeColor_Orange);
$buttonColor_Orange_hover: getHover($themeColor_Orange);
$buttonColor_Orange_active: getActive($themeColor_Orange);

$fontColor_M1: $commonGray2;
$fontColor_M2: $commonGray3;
$fontColor_M3: $commonGray5;
$fontColor_M4: $commonGray6;
$fontColor_M5: $commonGray7;
$fontColor_M6: $commonGray8;
$fontColor_M7: $commonGray9;
$fontColor_M8: $commonGray18;

$borderColor_M1: $commonGray2;
$borderColor_M2: $commonGray3;
$borderColor_M3: $commonGray5;
$borderColor_M4: $commonGray8;
$borderColor_M5: $commonGray11;
$borderColor_M6: $commonGray10;
$borderColor_M7: $commonGray18;

$backgroundColor_M1: $commonGray4;
$backgroundColor_M2: $commonGray5;
$backgroundColor_M3: $commonGray14;
$backgroundColor_M4: $commonGray15;
$backgroundColor_M5: $commonGray16;
$backgroundColor_M6: $commonGray17;
$backgroundColor_M7: $commonGray18;

$shadowColor_Gray1: $commonGray1;
$shadowColor_Gray2: $commonGray12;
$shadowColor_Gray3: $commonGray13;

$functionColor_Message: $themeColor_Blue;
$functionColor_Success: $themeColor_Green;
$functionColor_Warning: $themeColor_Orange;
$functionColor_Error: $themeColor_Red;
