$themeColor: #ffb706;
$themeColor2: #ffb706;
$themeColor3: #ffe7ab;
$themeColor4: #fff7e5;
$themeColor5: #fefbf2;
$themeColor6: #ffd05d;
$themeColor7: #ffe6a9;

$fontColor_M1: #333333;
$fontColor_M2: #666666;
$fontColor_M3: #999999;
$fontColor_M4: #b7b7b7;
$fontColor_M5: #c7c7c7;
$fontColor_M6: #d3d3d3;
$fontColor_M7: #d8d8d8;

$borderColor_M1: #d9d9d9;
$borderColor_M2: #d3d3d3;
$borderColor_M3: #333333;
$borderColor_M4: #666666;
$borderColor_M5: #999999;
$borderColor_M6: #dddfe6;

$backgroundColor_M1: #f1f2f6;
$backgroundColor_M2: #fafafa;
$backgroundColor_M3: #999999;
$backgroundColor_M4: #f8f8f8;

$commonColor_white: #ffffff;
$commonColor_black: #000000;
$commonColor_Orange1: #ffa200;
$commonColor_Orange2: #ffb706;
$commonColor_Orange3: #ffe7ab;
$commonColor_Orange4: #fff7e5;
$commonColor_Orange5: #fefbf2;
$commonColor_Orange6: #FFC132;
$commonColor_Orange7: #FFD679;

$commonColor_Blue1: #4b78f6;
$commonColor_Blue2: #eff6ff;
$commonColor_Blue3: #f1f4ff;
$commonColor_Blue4: #013047;
$commonColor_Blue5: #4b77f6;
$commonColor_Gray1: #999999;
$commonColor_Gray2: #bababa;
$commonColor_Gray3: #d9d9d9;
$commonColor_Gray4: #f5f5f5;
$commonColor_Gray5: #f0f0f0;
$commonColor_Gray6: #7d7d7d;
$commonColor_Gray7: #272735;
$commonColor_Gray8: #d3d3d3;
$commonColor_Gray9: #e6e6e6;

$shadowColor_Gray1: #e0e0e0;
$shadowColor_Gray2: #eaeaeb;

$functionColor_Message: #4b77f6;
$functionColor_Success: #53c41b;
$functionColor_Warning: #ffbe3d;
$functionColor_Error: #fd564f;
$functionColor_Error2: #ff4d50;