@use "sass:math";

$base_width: 1440;
$base_height: 900;
$base_fontSizeNum: 14;
$base_fontSize_640p: 12px;
$base_fontSize_1440p: 14px;
$base_fontSize_1920p: 16px;
@function vw($px) {
  @return math.div($px, $base_width) * 100vw;
}
@function vh($px) {
  @return math.div($px, $base_height) * 100vh;
}
@function rem($px) {
  @return math.div($px, $base_fontSizeNum) * 1rem;
}
